<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Add Child Place</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css">
</head>

<body>
<div class="container my-5">
    <h3> Add Place</h3>
    <div class="card">
        <div class="card-body">
            <div class="col-md-10">
                <form action="#" th:action="@{/place/savePlace}" th:object="${childPlace}"
                      method="post">
                    <div class="row">
                        <div class="form-group col-md-8">
                            <label for="childName" class="col-form-label">Place Name</label>
                            <input type="text" th:field="*{childName}" class="form-control"
                                   id="childName" placeholder="Place Name" />
                        </div>

                        <div class="form-group col-md-8">
                            <label for="childDetails" class="col-form-label">Details</label>
                            <input type="text" th:field="*{childDetails}" class="form-control"
                                   id="childDetails" placeholder="Details" />
                        </div>

                        <div class="form-group col-md-8">
                            <label for="ChildAddress" class="col-form-label">Address</label>
                            <input type="text" th:field="*{childAddress}" class="form-control"
                                   id="childAddress" placeholder="Address" />
                        </div>




                            <table class="table table-striped table-responsive-md">
                                <thead>
                                <tr>

                                    <th>Place Name</th>

                                </tr>
                                </thead>
                                <tbody>

                                <tr th:each="myplace : ${place}">

                                    <td >
                                        <input type="radio" name="myplace" th:value="${myplace.id}"    th:text="${myplace.placeName}">

                                    </td>

                                </tr>
                                </tbody>
                            </table>







                        <div class="form-group col-md-8">
                            <label for="childLocation" class="col-form-label">Location</label>
                            <input type="text" th:field="*{childLocation}" class="form-control"
                                   id="childLocation" placeholder="Location" />
                        </div>

                        <div class="form-group col-md-8">
                            <label for="childCountry" class="col-form-label">Country</label>
                            <input type="text" th:field="*{childCountry}" class="form-control"
                                   id="childCountry" placeholder="Country" />
                        </div>

                        <div class="form-group col-md-8">
                            <label for="childCity" class="col-form-label">City</label>
                            <input type="text" th:field="*{childCity}" class="form-control"
                                   id="childCity" placeholder="City" />
                        </div>

                        <div class="form-group col-md-8">
                            <label for="childCellSignal" class="col-form-label">CellSignal</label>
                            <input type="number" th:field="*{childCellSignal}" class="form-control" th:default=0
                                   id="childCellSignal" placeholder="CellSignal" />
                        </div>

                        <div class="form-group col-md-8">
                            <label for="childCleanness" class="col-form-label">Cleanness</label>
                            <input type="number" th:field="*{childCleanness}" class="form-control" th:default=0
                                   id="childCleanness" placeholder="Cleanness" />
                        </div>


                        <div class="form-group col-md-8">
                            <label for="childCrowdness" class="col-form-label">Crowdness</label>
                            <input type="number" th:field="*{childCrowdness}" class="form-control" th:default=0
                                   id="childCrowdness" placeholder="Crowdness" />
                        </div>


                        <div class="form-group col-md-8">
                            <label for="childElectronic" class="col-form-label">Electronic</label>
                            <input type="number" th:field="*{childElectronic}" class="form-control" th:default=0
                                   id="childElectronic" placeholder="Electronic" />
                        </div>

                        <div class="form-group col-md-8">
                            <label for="childFirePits" class="col-form-label">FirePits</label>
                            <input type="number" th:field="*{childFirePits}" class="form-control" th:default=0
                                   id="childFirePits" placeholder="FirePits" />
                        </div>



                        <div class="form-group col-md-8">
                            <label for="childManNoise" class="col-form-label">ManNoise</label>
                            <input type="number" th:field="*{childManNoise}" class="form-control"  th:default=0
                                   id="childManNoise" placeholder="ManNoise" />
                        </div>

                        <div class="form-group col-md-8">
                            <label for="childWifi" class="col-form-label">Wifi</label>
                            <input type="number" th:field="*{childWifi}" class="form-control"  th:default=0
                                   id="childWifi" placeholder="Wifi" />
                        </div>

                        <div class="form-group col-md-8">
                            <label for="childWater" class="col-form-label">Water</label>
                            <input type="number" th:field="*{childWater}" class="form-control"  th:default=0
                                   id="childWater" placeholder="Water" />
                        </div>

                        <div class="form-group col-md-8">
                            <label for="childTrash" class="col-form-label">Trash</label>
                            <input type="number" th:field="*{childTrash}" class="form-control"  th:default=0
                                   id="childTrash" placeholder="Trash" />
                        </div>

                        <div class="form-group col-md-8">
                            <label for="childToilet" class="col-form-label">Toilet</label>
                            <input type="number" th:field="*{childToilet}" class="form-control"  th:default=0
                                   id="childToilet" placeholder="Toilet" />
                        </div>

                        <div class="form-group col-md-8">
                            <label for="childShower" class="col-form-label">Shower</label>
                            <input type="number" th:field="*{childShower}" class="form-control" th:default=0
                                   id="childShower" placeholder="Shower" />
                        </div>

                        <div class="form-group col-md-8">
                            <label for="childSafty" class="col-form-label">Safty</label>
                            <input type="number" th:field="*{childSafty}" class="form-control" th:default=0
                                   id="childSafty" placeholder="Safty" />
                        </div>


                        <div class="form-group col-md-8">
                            <label for="childPicnicTable" class="col-form-label">PicnicTable</label>
                            <input type="number" th:field="*{childPicnicTable}" class="form-control" th:default=0
                                   id="childPicnicTable" placeholder="PicnicTable" />
                        </div>



                        <div class="form-group col-md-8">
                            <label for="childPetAllowed" class="col-form-label">PetAllowed</label>
                            <input type="number" th:field="*{childPetAllowed}" class="form-control" th:default=0
                                   id="childPetAllowed" placeholder="PetAllowed" />
                        </div>


                        <div class="form-group col-md-8">
                            <label for="childADAaccessible" class="col-form-label">ADAaccessible</label>
                            <input type="number" th:field="*{childADAaccessible}" class="form-control" th:default=0
                                   id="childADAaccessible" placeholder="ADAaccessible" />
                        </div>




                        <div class="col-md-6">
                            <input type="submit" class="btn btn-primary" value=" Submit ">
                        </div>

                        <input type="hidden" id="id" th:field="*{id}">

                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</body>

</html>